body{
    color: white;
}

.videoBG{
	position: fixed; 
	z-index: -1;
	top: 0px; 
	left: 0px; 
	height: 100%; 
	width: 100%; 
	opacity: 1; 
	overflow: hidden;
}

#logo{
	position: fixed; 
	top: 50px; 
	left: 550px; 
	height: 100%; 
	width: 100%; 
	opacity: 1; 
	overflow: hidden;

}